.content {
    width: 50%;
    margin: auto;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    text-align: justify;
    font-weight: initial;
    line-height: 2;
}

@media screen and (max-width: 992px) {
    .content {
        width: 90%;
        margin: auto;
        /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
        text-align: justify;
        font-weight: initial;
        line-height: 2;
        font-size: 16px;
    }
}

.blog-item {
    margin-top: 10px;
}

.blog-shortly {
    font-size: 18px;
}

.blog-header {
    font-weight: bold;
    font-size: 30px !important;
    text-decoration: solid;
    font-family: 'Schoolbell', arial, serif; 
}

a:visited, a:active, a:link, a:hover {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.latex {
    margin: auto; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-title {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Schoolbell', arial, serif; 
}

.blog-menu {
    font-family: 'Schoolbell', arial, serif; 
}

.home {
    font-family: 'Schoolbell', arial, serif; 
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}